<h3 align="center">Clientes</h3>
<%# boton nuevo %>
<div class="container-fluid" align="center">
  <%= render partial: 'layouts/search_form', locals: { search_entity: 'items', word: "Cliente" } %>
<br>
</div>
<br>
<div class="boton_redirect">
<%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Ruc</th>
      <th colspan="3">
        <%= link_to 'Nuevo Cliente', new_cliente_path, class:"btn btn-success" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.apellido %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.ruc %></td>
        <td><%= link_to 'Detalles', cliente, class: "btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente), class:"btn btn-primary" %></td>
        <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Está seguro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
