<div id="page-inner">

  <div class="row mb-2">
    <!-- Total in one day -->
    <% total = 0 %>
    <% @venta.each do |venta| %>
      <% if venta.created_at.strftime("%Y/%m/%d") == Date.today.strftime("%Y/%m/%d") %>
    		<% total = venta.total + total %>
      <% end %>
    <% end %>

    <div class="col"><span class="btn btn-outline-success pl-5 pr-5 pt-2"><h3>Ventas hoy: Gs. <%= number_with_delimiter( '%.0f' % total, :delimiter => '.') %></h3></span>
    </div>

    <!-- Search -->    
    <div class="mr-3 form-inline">
      <%= search_form_for @q, remote: true do |f| %>
        Desde: <%= f.search_field :created_at_gteq ,class: 'form-control input-sm date', type: 'date' %>
        Hasta: <%= f.search_field :created_at_lteq, class: 'form-control input-sm', type: 'date' %>
        <%= f.submit 'Filtrar', class: 'btn btn-outline-success my-2 my-sm-0' %>
      <% end %>
    </div>
    </div>

  <div id="list-invoices">
    <%= render 'lista_venta' %>
  </div>
