<%= form_with(model: presupuesto, local: true) do |form| %>
  <% if presupuesto.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(presupuesto.errors.count, "errores") %>

      <ul>
        <% presupuesto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.text_field :cliente_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
