<%= form_with(model: ventum, local: true) do |form| %>
  <% if ventum.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(ventum.errors.count, "errores") %>

      <ul>
        <% ventum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.text_field :cliente_id %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_field :fecha %>
  </div>

  <div class="field">
    <%= form.label :orden_trabajo_id %>
    <%= form.text_field :orden_trabajo_id %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
