<p id="notice"><%= notice %></p>

<h1>Venta</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Fecha</th>
      <th>Orden trabajo</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta.each do |ventum| %>
      <tr>
        <td><%= ventum.cliente.nombre %> , <%= ventum.cliente.apellido %></td>
        <td><%= ventum.fecha %></td>
        <td><%= ventum.orden_trabajo_id %></td>
        <td><%= ventum.total %></td>
        <td><%= link_to 'Detalles', ventum %></td>
        <td><%= link_to 'Editae', edit_ventum_path(ventum) %></td>
        <td><%= link_to 'Eliminar', ventum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>