<%= form_with(model: vehiculo, local: true) do |form| %>
  <% if vehiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehiculo.errors.count, "error") %> prohibited this vehiculo from being saved:</h2>

      <ul>
        <% vehiculo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :matricula %>
    <%= form.text_field :matricula %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <%= form.label :km %>
    <%= form.text_field :km %>
  </div>

  <div class="field">
    <%= form.label :chasis %>
    <%= form.text_field :chasis %>
  </div>

  <div class="field">
    <%= form.label :year_fab %>
    <%= form.number_field :year_fab %>
  </div>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.text_field :cliente_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
