<div class="container">

<h3 align="center">Vehiculos</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Matricula</th>
      <th>Marca</th>
      <th>Chasis</th>
      <th>Año</th>
      <th colspan="3">
        <%= link_to 'Nuevo Vehiculo', new_vehiculo_path, class:"btn btn-success" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @vehiculos.each do |vehiculo| %>
      <tr>
        <td><%= vehiculo.modelo %></td>
        <td><%= vehiculo.matricula %></td>
        <td><%= vehiculo.marca %></td>
        <td><%= vehiculo.chasis %></td>
        <td><%= vehiculo.year_fab %></td>
        <td><%= link_to 'Detalles', vehiculo, class:"btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_vehiculo_path(vehiculo), class:"btn btn-primary" %></td>
        <td><%= link_to 'Eliminar', vehiculo, method: :delete, data: { confirm: 'Está seguro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
