<div class="center">
  <h4>Datos del Vehiculo</h4>
  <div class="card" style="width: 50rem;">
    <div class="card-body">

      <li class="list-group-item">
      <strong>Modelo:</strong>
      <%= @vehiculo.modelo %></li>

      <li class="list-group-item">
      <strong>Color:</strong>
      <%= @vehiculo.color %></li>

      <li class="list-group-item">
      <strong>Matricula:</strong>
      <%= @vehiculo.matricula %></li>

      <li class="list-group-item">
      <strong>Marca:</strong>
      <%= @vehiculo.marca %></li>

      <li class="list-group-item">
      <strong>Km:</strong>
      <%= @vehiculo.km %></li>

      <li class="list-group-item">
      <strong>Chasis:</strong>
      <%= @vehiculo.chasis %></li>

      <li class="list-group-item">
      <strong>Year fab:</strong>
      <%= @vehiculo.year_fab %></li>

      <li class="list-group-item">
      <strong>Cliente:</strong>
      <%= @vehiculo.cliente.nombre %> , <%= @vehiculo.cliente.apellido %></li>

<br>
<%= link_to 'Editar', edit_vehiculo_path(@vehiculo), class:"btn btn-info" %> |
<%= link_to 'Volver', vehiculos_path, class:"btn btn-success" %>
