<%= form_for([@compra,@detalle_compra], remote: true) do |form| %>

<div  align="center">
  <div class="col-12">
  <div class="form-group">
    <%= form.text_field :repuesto_servicio_id , placeholder: 'Artículo', class: 'form-control'%>
  </div>
  </div>
  <div class="col-12">
  <div class="form-group">
    <%= form.text_field :cantidad, placeholder: 'Cantidad', class: 'form-control' %>
  </div>
  </div>

  <div class="col-12">
  <div class="form-group">
    <%= form.text_field :precio_unitario, placeholder: 'Precio Unitario', class: 'form-control' %>
  </div>
  </div>
  <div class="col-12">
  <div class="form-group">
    <%= form.text_field :precio_venta, placeholder: 'Precio Venta', class: 'form-control' %>
  </div>
  </div>
</div>
<br>
  <div class="modal-footer">
  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn btn-success form-control' %>
  </div>
  </div>
<% end %>
