<p id="notice"><%= notice %></p>

<h1>Detalle Compras</h1>

<table>
  <thead>
    <tr>
      <th>Compra</th>
      <th>Repuesto servicio</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
      <th>Iva</th>
      <th>Precio unitario</th>
      <th>Precio venta</th>
      <th>Total</th>
      <th>Pago</th>
      <th>Saldo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_compras.each do |detalle_compra| %>
      <tr>
        <td><%= detalle_compra.compra_id %></td>
        <td><%= detalle_compra.repuesto_servicio_id %></td>
        <td><%= detalle_compra.cantidad %></td>
        <td><%= detalle_compra.subtotal %></td>
        <td><%= detalle_compra.iva %></td>
        <td><%= detalle_compra.precio_unitario %></td>
        <td><%= detalle_compra.precio_venta %></td>
        <td><%= detalle_compra.total %></td>
        <td><%= detalle_compra.pago %></td>
        <td><%= detalle_compra.saldo %></td>
        <td><%= link_to 'Show', detalle_compra %></td>
        <td><%= link_to 'Edit', edit_detalle_compra_path(detalle_compra) %></td>
        <td><%= link_to 'Destroy', detalle_compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle Compra', new_detalle_compra_path %>
