<p id="notice"><%= notice %></p>

<p>
  <strong>Repuesto servicio:</strong>
  <%= @detalle_compra.repuesto_servicio_id %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @detalle_compra.cantidad %>
</p>

<p>
  <strong>Precio unitario:</strong>
  <%= @detalle_compra.precio_unitario %>
</p>

<p>
  <strong>Precio venta:</strong>
  <%= @detalle_compra.precio_venta %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @detalle_compra.subtotal %>
</p>

<p>
  <strong>Compra:</strong>
  <%= @detalle_compra.compra_id %>
</p>

<%= link_to 'Edit', edit_detalle_compra_path(@detalle_compra) %> |
<%= link_to 'Back', detalle_compras_path %>
