<div class="container">

<%= form_with(model: gasto, local: true) do |form| %>
  <% if gasto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gasto.errors.count, "error") %> prohibited this gasto from being saved:</h2>

      <ul>
        <% gasto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="container">
    <div class="container center">
  <div class="form-group">
    <div class="col-3">
    <%= form.label "Fecha" %>
      <%= form.date_field :fecha_compra, class:"form-control", placeholder: "Fecha" %>
    </div>
  </div>
<div class="col-5">

  <div class="form-group">
    <%= form.text_field :motivo, class:"form-control", placeholder: "Motivo" %>
  </div>
</div>
<div class="col-9">
  <div class="form-group">
    <%= form.text_area :descripcion, class:"form-control", placeholder: "Descripcion"%>
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <%= form.text_field :costo, class:"form-control", placeholder: "Costo" %>
  </div>
</div>
<div class="col-9">
  <div class="actions">
    <%= form.submit "Guardar", class: "btn btn-success form-control"%>
  </div>
</div>
</div>
</div>
</form>
<% end %>
</div>
