<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha compra:</strong>
  <%= @gasto.fecha_compra %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @gasto.motivo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @gasto.descripcion %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @gasto.costo %>
</p>

<%= link_to 'Edit', edit_gasto_path(@gasto) %> |
<%= link_to 'Back', gastos_path %>
