<% @presupuesto.detalle_orden_presupuestos.each do |detail| %>
	<tr>
		<td><%= detail.repuesto_servicio.descripcion %></td>
		<td class="text-right"><%= detail.cantidad %></td>
		<td class="text-right"><%= number_to_currency(detail.precio_unitario, unit: "Gs.") %></td>
		<td class="text-right"><%= number_to_currency(detail.subtotal, unit: "Gs.") %></td>
		<% if show_actions %>
			<td><%= link_to "Eliminar", presupuesto_detalle_orden_presupuesto_path(detail.presupuesto.id, detail.id), method: :delete, remote: true %> </td>
		<% end %>
	</tr>
<% end %>
