<div class="container">
<%= form_with(model: pago_factura, local: true) do |form| %>
  <% if pago_factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pago_factura.errors.count, "error") %> prohibited this pago_factura from being saved:</h2>

      <ul>
        <% pago_factura.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-4">
  <div class="form-group">
    <%= form.label :fecha %>
    <%= form.date_field :fecha, class:"form-control" %>
  </div>
</div>

  <div class="form-group">
    <%= form.label :compra_id %>
    <%= form.text_field :compra_id %>
  </div>

  <div class="form-group">
    <%= form.label :proveedor_id %>
    <%= form.text_field :proveedor_id %>
  </div>


  <div class="form-group">
    <%= form.label :monto_pago %>
    <%= form.text_field :monto_pago %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
