<p id="notice"><%= notice %></p>

<h1>Pago Facturas</h1>

<table>
  <thead>
    <tr>
      <th>Compra</th>
      <th>Proveedor</th>
      <th>Fecha</th>
      <th>Monto pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pago_facturas.each do |pago_factura| %>
      <tr>
        <td><%= pago_factura.compra_id %></td>
        <td><%= pago_factura.proveedor_id %></td>
        <td><%= pago_factura.fecha %></td>
        <td><%= pago_factura.monto_pago %></td>
        <td><%= link_to 'Show', pago_factura %></td>
        <td><%= link_to 'Edit', edit_pago_factura_path(pago_factura) %></td>
        <td><%= link_to 'Destroy', pago_factura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pago Factura', new_pago_factura_path %>
