<p id="notice"><%= notice %></p>

<p>
  <strong>Compra:</strong>
  <%= @pago_factura.compra_id %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @pago_factura.proveedor_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pago_factura.fecha %>
</p>

<p>
  <strong>Monto pago:</strong>
  <%= @pago_factura.monto_pago %>
</p>

<%= link_to 'Edit', edit_pago_factura_path(@pago_factura) %> |
<%= link_to 'Back', pago_facturas_path %>
