<div class="container">
<%= form_with(model: proveedor, local: true) do |form| %>
  <% if proveedor.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(proveedor.errors.count, "errores") %>

      <ul>
        <% proveedor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<form>
<div class="container">
<div class="container center">

  <div class="form-group">
    <%= form.text_field :ruc, placeholder: "RUC", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.text_field :nombre, class:"form-control", placeholder: "Nombre" %>
  </div>

  <div class="form-group">
    <%= form.text_field :direccion, class:"form-control", placeholder: "Dirección"  %>
  </div>

  <div class="form-group">
    <%= form.text_field :telefono, class:"form-control", placeholder: "Telefono"  %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, class:"form-control", placeholder: "Email"  %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: "btn btn-success form-control" %>
  </div>
</div>
</div>
</form>
<% end %>
</div>
