<%= form_with(model: empleado, local: true) do |form| %>
  <% if empleado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empleado.errors.count, "error") %> prohibited this empleado from being saved:</h2>

      <ul>
        <% empleado.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :nombre, placeholder: "Nombres" , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :apellido, placeholder: "Apellidos" , class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :fecha_nac , "Fecha de Nacimiento"%>
    <%= form.date_field :fecha_nac, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :documento, placeholder: "Número de Documento" , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.text_field :telefono, placeholder: "Número de Teléfono" , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :especialidad, placeholder: "Especialidad" , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :fecha_contratacion , "Fecha de Contratación"%>
    <%= form.date_field :fecha_contratacion, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :salario, placeholder: "Salario" , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.text_field :direccion, placeholder: "Dirección" , class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar" , class: "btn btn-success form-control"%>
  </div>
<% end %>
