<h3 align="center">Empleados</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Documento</th>
      <th>Especialidad</th>
      <th colspan="3">
        <%= link_to 'Nuevo', new_empleado_path, class: "btn btn-success" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= empleado.nombre %></td>
        <td><%= empleado.apellido %></td>
        <td><%= empleado.documento %></td>
        <td><%= empleado.especialidad %></td>
        <td><%= link_to 'Detalles', empleado %></td>
        <td><%= link_to 'Editar', edit_empleado_path(empleado) %></td>
        <td><%= link_to 'Eliminar', empleado, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


