<p id="notice"><%= notice %></p>

<h1>Detalle Orden Trabajos</h1>

<table>
  <thead>
    <tr>
      <th>Orden trabajo</th>
      <th>Repuesto servicio</th>
      <th>Cantidad</th>
      <th>Precio venta</th>
      <th>Subtotal</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_orden_trabajos.each do |detalle_orden_trabajo| %>
      <tr>
        <td><%= detalle_orden_trabajo.orden_trabajo_id %></td>
        <td><%= detalle_orden_trabajo.repuesto_servicio_id %></td>
        <td><%= detalle_orden_trabajo.cantidad %></td>
        <td><%= detalle_orden_trabajo.precio_venta %></td>
        <td><%= detalle_orden_trabajo.subtotal %></td>
        <td><%= detalle_orden_trabajo.total %></td>
        <td><%= link_to 'Show', detalle_orden_trabajo %></td>
        <td><%= link_to 'Edit', edit_detalle_orden_trabajo_path(detalle_orden_trabajo) %></td>
        <td><%= link_to 'Destroy', detalle_orden_trabajo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle Orden Trabajo', new_detalle_orden_trabajo_path %>
