<%= form_with(model: orden_trabajo, local: true) do |form| %>
  <% if orden_trabajo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orden_trabajo.errors.count, "error") %> prohibited this orden_trabajo from being saved:</h2>

      <ul>
        <% orden_trabajo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-3">
  <div class="field">
    <%= form.number_field :num_orden, class:"form-control", placeholder: "Número de Orden" %>
  </div>
</div>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.text_field :cliente_id %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, class:"form-control", placeholder:"Descripción" %>
  </div>

  <div class="field">
    <%= form.label :mecanico_id %>
    <%= form.text_field :mecanico_id %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-success" %>
  </div>
<% end %>
