<%= form_with(model: orden_trabajo, local: true) do |form| %>
  <% if orden_trabajo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orden_trabajo.errors.count, "error") %> prohibited this orden_trabajo from being saved:</h2>

      <ul>
        <% orden_trabajo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
<div class="col-4">
  <div class="form-group">
    <%= form.label :num_orden, 'Número' %>
    <%= form.number_field :num_orden, class:"form-control", placeholder: "Número de Orden" %>
  </div>
</div>
</div>

  <div class="form-group">
    <%= form.label :cliente_id ,"Cliente"%> <br>
    <%= form.collection_select :cliente_id, Cliente.order(:nombre), :id, :nombre,class: "chosen-select form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :empleado_id ,"Mecánico Responsable"%> <br>
    <%= form.collection_select :empleado_id, Empleado.order(:nombre), :id, :nombre,class: "chosen-select form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, class:"form-control", placeholder:"Descripción" %>
  </div>


  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-success" %>
  </div>
<% end %>
