<div class="container-fluid">
  <div class="row">
    <div class="panel-body">
<%= form_with(model: compra, local: true) do |form| %>
  <% if compra.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(compra.errors.count, "error") %>

      <ul>
        <% compra.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-3">Número<%= form.number_field :num_fact , placeholder: "Número", type: "text", class: "form-control" %>
</div>

    <div class="col-3">Fecha<%= form.date_field :fecha, placeholder: "Fecha", class: "form-control"%>
</div>
    <div class="col-3">Estado<%= form.text_field :estado, placeholder: "Estado", class: "form-control" %>
</div>

<div class="col-3"> Tipo de Factura      <%= form.collection_select :tipo_factura_id, TipoFactura.order(:descripcion), :id, :descripcion,class: 'chosen-select' %>
</div>
  </div>
  <hr>
  <br>
  <%= form.label :proveedor_id, "Proveedor" %>

  <div class="row">
    <div class="col-8">
      <%= form.collection_select :proveedor_id, Proveedor.order(:nombre), :id, :nombre,class: "chosen-select form-control" %>
    </div>
  </div>
  </div>
  </div>
  <hr>
  <br>

  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-success form-control" %>
  </div>
  </div>
<% end %>
