<%= form_with(model: compra, local: true) do |form| %>
  <% if compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compra.errors.count, "error") %> prohibited this compra from being saved:</h2>

      <ul>
        <% compra.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :proveedor_id %>
    <%= form.text_field :proveedor_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_factura_id %>
    <%= form.text_field :tipo_factura_id %>
  </div>

  <div class="field">
    <%= form.label :num_fact %>
    <%= form.number_field :num_fact %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
