<h3 align="center">Compras</h3>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Proveedor</th>
      <th>Num fact</th>
      <th>Total</th>
      <th colspan="3">
        <%= link_to 'Nuevo', new_compra_path, class: "btn btn-success" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @compras.each do |compra| %>
      <tr>
        <td><%= compra.fecha %></td>
        <td><%= compra.proveedor.nombre %></td>
        <td><%= compra.num_fact %></td>
        <td><%= compra.total %></td>
        <td><%= link_to 'Ver', compra_factura_path(compra) %></td>
        <td><%= link_to 'Editar', edit_compra_path(compra) %></td>
        <td><%= link_to 'Eliminar', compra, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

