<p id="notice"><%= notice %></p>
<div class="container">

<h3 align="center">Compras</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Proveedor</th>
      <th>Tipo factura</th>
      <th>Num fact</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compras.each do |compra| %>
      <tr>
        <td><%= compra.fecha %></td>
        <td><%= compra.proveedor.nombre %></td>
        <td><%= compra.tipo_factura.descripcion %></td>
        <td><%= compra.num_fact %></td>
        <td><%= compra.estado %></td>
        <td><%= link_to 'Show', compra %></td>
        <td><%= link_to 'Edit', edit_compra_path(compra) %></td>
        <td><%= link_to 'Destroy', compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compra', new_compra_path %>
