<div class="container-fluid">
  <div class="row">

    <div class="panel-body">
      <div class="row">
        <div class="col-3">
          <strong>Número de Factura:</strong>
          <%= @compra.num_fact %>
        </div>

        <div class="col-3">
          <strong>Fecha:</strong>
          <%= @compra.fecha %>
        </div>
        <div class="col-3">
          <strong>Estado:</strong>
          <%= @compra.estado %>
        </div>

    <div class="col-3">
      <strong>Tipo factura:</strong>
      <%= @compra.tipo_factura.descripcion %>
    </div>
      </div>
      <hr>
      <br>

      <div class="row">
        <div class="col-8">
          <strong>Proveedor:</strong>
          <%= @compra.proveedor.nombre %>
        </div>
      </div>
      </div>
      </div>
      <hr>
      <br>


    <div class="filed">
      <div class="panel-body" id="sale-details">
        <%= (@compra.detalle_compras.count > 0) ? render(partial: 'detalle_compra', locals: { compra: @compra, show_actions: true }) : 'No hay detalles cargados' %>
      </div>
      <!-- Button trigger modal -->
      <center>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
        Agregar Detalles
      </button>
      </center>
<br>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "detalle_compras/form" %>
      </div>
    </div>
  </div>
</div>
    </div>
<hr>
    <footer>
      <div class="container-fluid">
      <%= form_for([@compra, @detalle_compra]) do |form| %>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :total %>
            <%= form.text_field :total, class:"form-control", disabled: true  %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= form.label :pago %>
            <%= form.text_field :pago, class:"form-control" %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= form.label :saldo %>
            <%= form.text_field :saldo, class:"form-control", disabled: true %>
          </div>
        </div>
      </div>
  </div>
  <br>
  <%= form.submit "Guardar" , class: 'btn btn-primary mb-2' %>

  <%#= link_to 'Guardar', new_compra_detalle_compra_path(@detalle_compra) %>
  <%#= link_to 'Volver atrás', destroy_compra_detalle_compras_path, notice: {"Se perderán los datos"} %>
      <%end%>
    </footer>
