<div class="container">

<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :proveedor_id %>
    <%= form.text_field :proveedor_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_factura_id %>
    <%= form.text_field :tipo_factura_id %>
  </div>

  <div class="field">
    <%= form.label :num_fact %>
    <%= form.number_field :num_fact %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>
<div class="fields">
  <h3>Detalles</h3>
  <%= form.fields_for :payment_detail do |s| %>
  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.text_field :subtotal %>
  </div>

  <div class="field">
    <%= form.label :payment_id %>
    <%= form.text_field :payment_id %>
  </div>

  <div class="field">
    <%= form.label :repuesto_servicio_id %>
    <%= form.text_field :repuesto_servicio_id %>
  </div>

  <div class="field">
    <%= form.label :precio_unitario %>
    <%= form.text_field :precio_unitario %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="field">
    <%= form.label :saldo %>
    <%= form.text_field :saldo %>
  </div>

  <div class="field">
    <%= form.label :precio_venta %>
    <%= form.text_field :precio_venta %>
  </div>

  <div class="field">
    <%= form.label :pago %>
    <%= form.text_field :pago %>
  </div>
  <div class="actions">
    <%= s.submit %>
  </div>
<% end %>
<%= render "payment_details/form"%>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
