<%= form_with(model: repuesto_servicio, local: true) do |form| %>
  <% if repuesto_servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repuesto_servicio.errors.count, "error") %> prohibited this repuesto_servicio from being saved:</h2>

      <ul>
        <% repuesto_servicio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :costo %>
    <%= form.text_field :costo %>
  </div>

  <div class="field">
    <%= form.label :precio_venta %>
    <%= form.text_field :precio_venta %>
  </div>

  <div class="field">
    <%= form.label :categoria %>
    <%= form.text_field :categoria %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
