<div class="container">

<%= form_with(model: repuesto_servicio, local: true) do |form| %>
  <% if repuesto_servicio.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(repuesto_servicio.errors.count, "errores") %>

      <ul>
        <% repuesto_servicio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form>
  <div class="container">
  <div class="container center">


  <div class="form-group">
    <%= form.text_field :codigo, placeholder: "Codigo", class: "form-control" %>
  </div>


  <div class="form-group">
    <%= form.text_field :descripcion, placeholder: "Descripcion", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.number_field :stock , placeholder: "Stock", class: "form-control", type: "text", disabled: true %>
  </div>

  <div class="form-group">
    <%= form.text_field :costo, placeholder: "Costo", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :precio_venta, placeholder: "Precio Venta", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :categoria %>
    <%= form.collection_select :categoria_id, Categorium.order(:descripcion), :id, :descripcion,class: "chosen-select" %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: "btn btn-success form-control"  %>
  </div>
</div>

</div>
</form>
<% end %>
</div>
