<p id="notice"><%= notice %></p>

<h1>Repuesto Servicios</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Stock</th>
      <th>Costo</th>
      <th>Precio venta</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repuesto_servicios.each do |repuesto_servicio| %>
      <tr>
        <td><%= repuesto_servicio.codigo %></td>
        <td><%= repuesto_servicio.descripcion %></td>
        <td><%= repuesto_servicio.stock %></td>
        <td><%= repuesto_servicio.costo %></td>
        <td><%= repuesto_servicio.precio_venta %></td>
        <td><%= repuesto_servicio.categoria %></td>
        <td><%= link_to 'Show', repuesto_servicio %></td>
        <td><%= link_to 'Edit', edit_repuesto_servicio_path(repuesto_servicio) %></td>
        <td><%= link_to 'Destroy', repuesto_servicio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repuesto Servicio', new_repuesto_servicio_path %>
