
<div id='cssmenu'>
<ul>
   <li class='active has-sub'><a href='#'>Compra</a>
      <ul>
         <li >
          <a>
           <%= link_to 'Proveedor', proveedors_path%></a>
         </li>
         <li >
           <%= link_to 'Repuesto o Servicio', repuesto_servicios_path%>
         </li>
         <li >
           <%= link_to 'Factura', compras_path%>
         </li>
         <li >
           <%= link_to 'Gasto', gastos_path%>
         </li>
      </ul>
   </li>

   <li class='active has-sub'><a href='#'>Venta</a>
      <ul>
         <li >
           <%= link_to 'Cliente', clientes_path%>
         </li>
         <li >
           <%= link_to 'Orden de Trabajo', orden_trabajos_path%>
         </li>
         <li >
           <%= link_to 'Presupuesto', presupuestos_path%>
         </li>
         <li >
           <%= link_to 'Vehiculo', vehiculos_path%>
         </li>
      </ul>
   </li>

      <li class='active has-sub'><a href='#'>Finanza</a>
      <ul>
         <li >
           <%= link_to 'Venta', lista_venta_index_path%>
         </li>
      </ul>
   </li>

     <li class='active has-sub'><a href='#'>Settings</a>
      <ul>
         <li >
           <%= link_to 'Categoria', categoria_path%>
         </li>
         <li >
           <%= link_to 'Empleados', empleados_path%>
         </li>
      </ul>
   </li>
</ul>
</div>
