<!DOCTYPE html>
<html>
  <head>
    <title>Taller</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
     <%= javascript_pack_tag 'application' %>
     <%= stylesheet_pack_tag 'bootstrap' %>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!--     <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/menu.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container" >
      <%= render 'layouts/header' %>
      <%= render 'layouts/lateral' %>
      <div class="jumbotron jumbotron-fluid" id="container"><br>
        <div class="container-fluid">
        <%= render 'layouts/messages' %>

          <%= yield %>
        </div>
        </div>
      </div>
     </div>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
  </body>

</html>
