<!DOCTYPE html>
<html>
  <head>
    <title>Taller</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head>

  <body>
    <div>

    <%= render 'layouts/header' %>
      <div class="container"><br>
        <%= render 'layouts/messages' %>

        <div class="jumbotron">
        <%= yield %>
      </div>
    </div>

    </div>
      <%= render 'layouts/lateral' %>
      <%= render 'layouts/footer' %>

  </body>

</html>
